<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>Top 5 Restaurants</title>
    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
</head>
<body>
    <header>
        <h1 class="text-center">THIS IS A DELICIOUS SITE!</h1>
    </header>
    @RenderBody()
    <br />
    <br />
    <br />
    <footer class="text-center">
        Sheeza Rohail Inc. Live to eat? or Eat to live? xD
    </footer>
</body>
</html>
