@{
    ViewData["Title"] = "Welcome Page";
}

@model IEnumerable<string>

<!DOCTYPE HTML>
<html>

<head>
    <title>@ViewBag.Title</title>
    <meta name="viewport" content="width-device-width" />
</head>

<body>
    <div class="text-center">
        <h1>TOP 5 RESTUARANTS</h1>
    </div>

    <div class="text-center">
        <img src="~/img/Restaurant_4.jpg" />
    </div>

    <br />
    <br />

    <div>
        <ul style="padding:2%;">
            @foreach (string R in Model)
            {
                <li style="text-indent:2em;">@R</li>

            }
        </ul>
    </div>


    <div class="text-center">
        <!--Link to the suggestions and Submissions page-->
        <a class="btn btn-dark" asp-action="suggestions">Add your suggestions</a> <a class="btn btn-dark" asp-action="Submissions">View your Submissions</a>
    </div>

</body>
</html>
