
@{
    ViewBag.Title = "Suggestions Page";
}

@model Assignment_4__new_.Models.Suggestions

<head>
    <title>@ViewBag.Title</title>
</head>

<!--Setting up a form to collect user input-->

<body>
    <div class="text-md-center">
        <h1>We value your suggestions</h1>
    </div>

    <br />
    <br />

    <form asp-action="suggestions" method="post" class="text-center">
        <div>
            <label class="font-italic">User Name: </label>
            <input asp-for="User_Name" />
        </div>
        <br />
        <div>
            <label class="font-italic">Restaurant Name: </label>
            <input asp-for="Restuarant_Name" />
        </div>
        <br />
        <div>
            <label class="font-italic">Favorite Dish: </label>
            <input asp-for="Fav_Dish" />
        </div>
        <br />
        <div>
           <!--Phone validation-->
            @Html.LabelFor(model => model.Phone)
            @Html.EditorFor(model => model.Phone)
            @Html.ValidationMessageFor(model => model.Phone)
        </div>
        <br />
        <br />
        <br />
        <div>
            <button type="submit" asp-action="Suggestions" class="btn btn-dark">Submissions</button> <a class="btn btn-dark" asp-action="index">Restaurants</a>
        </div>
    </form>
</body>